%tr{style: 'border-bottom: 1px solid #ddd;padding: 0px; margin:0px'}
  %td{style: 'border-bottom: 1px solid #ddd; padding: 5px;margin:0px'}
    %span{title: game.upload_id + ", " + game.created_at.strftime("%Y-%m-%d %H:%M")}
      = game.created_at.strftime("%Y-%m-%d %H:%M")   
  %td{style: 'border-bottom: 1px solid #ddd; padding: 5px;margin:0px;text-align:center'}
    = game.game
  %td{style: 'border-bottom: 1px solid #ddd; padding: 5px'}= link_to game.player.name, game.player
  - [:sets,:legs,:doubles_hit,:three_dart_average,:highest_throw,:highest_checkout,:count_180,:count_140,:count_100,:count_60].each do |key|
    %td{style: 'border-bottom: 1px solid #ddd; padding: 5px;margin: 0px;text-align: center'}
      = game.send(key).to_s
  
